<html>
<head>
    <title> Web Bán Đồng Hồ </title>
</head>
<body>
    <table border=0 width=800 align="center">
        <tr>
            <td colspan=2><img src="~/Content/hinhanh/banner.jpg" width=100%></td>
        </tr>
        @RenderBody()
        <tr>
            <td colspan=2><img src="~/Content/hinhanh/footer.jpg" height="150" width=100%></td>
        </tr>
    </table>
</body>
</html>