<html>
<head>
    <title> Web Bán Đồng Hồ </title>
</head>
<body>
    <table border=0 width=800 align="center">
        <tr>
            <td colspan=2><img src="~/Content/hinhanh/banner.jpg" width=100%></td>
        </tr>
        <tr bgcolor=green>
            <td colspan=2>
                <table>
                    <tr align="center">
                        <td width="150"><a style="color: #fff; text-decoration: none;" href="/">Trang chủ</a></td>
                        <td width="150"><a style="color: #fff; text-decoration: none;" href="/gioi-thieu">Giới thiệu</a></td>
                        <td width="150"><a style="color: #fff; text-decoration: none;" href="/san-pham">Sản phẩm</a></td>
                        <td width="150"><a style="color: #fff; text-decoration: none;" href="/tin-tuc">Tin tức</a></td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td valign="top">
                <table border=0 width=200>
                    <tr>
                        <td bgcolor="Black" align="center"><font color="white"> ĐỒNG HỒ </font></td>
                    </tr>
                    <tr>
                        <td>
                            <ul>
                                <li>Đồng Hồ ELIO</li>
                                <li>Đồng Hồ FISSLIL</li>
                                <li>Đồng Hồ TITONI</li>
                                <li>Đồng Hồ MVW</li>
                                <li>Đồng Hồ CASIO</li>
                                <li>Đồng Hồ DKNY</li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td bgcolor="black" align="center"><font color="white">Quảng Cáo</font></td>
                    </tr>
                    <tr>
                        <td><img src="~/Content/hinhanh/qc.jpg" width=100%></td>
                    </tr>
                </table>
            </td>
            <!--ket thuc cot trai-->
            @RenderBody()
        </tr>
        <tr>
            <td colspan=2><img src="~/Content/hinhanh/footer.jpg" height="150" width=100%></td>
        </tr>
    </table>
</body>
</html>