<html>
<head>
    <title> Web Bán Đồng Hồ </title>
</head>
<body>
    <table border=0 width=800 align="center">
        <tr>
            <td colspan=2><img src="~/Content/hinhanh/banner.jpg" width=100%></td>
        </tr>
        <tr>
            <td valign="top">
                <table border=0 width=200>
                    <tr>
                        <td bgcolor="Black" align="center"><font color="white"> ĐỒNG HỒ </font></td>
                    </tr>
                    <tr>
                        <td>
                            <ul>
                                <li><a href="/he-thong">Quản lý thành viên</a></li>
                                <li><a href="/he-thong/quan-ly-san-pham">Quản lý sản phẩm</a></li>
                                <li><a href="/he-thong/quan-ly-gioi-thieu">Quản lý Giới thiệu</a></li>
                                <li><a href="/he-thong/quan-ly-tin-tuc">Quản lý tin tức</a></li>
                                <li><a href="/dang-xuat">Đăng xuất</a></li>
                            </ul>
                        </td>
                    </tr>
                </table>
            </td>
            <!--ket thuc cot trai-->
            @RenderBody()
        </tr>
        <tr>
            <td colspan=2><img src="~/Content/hinhanh/footer.jpg" height="150" width=100%></td>
        </tr>
    </table>
</body>
</html>