
@{
    ViewBag.Title = "GioiThieu";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}

<td valign="top">
    <table border=0 width=600>
        <tr>
            <td colspan=3 bgcolor="black" align="center"><font color="white">Giối thiệu </font></td>
        </tr>
        <tr>
            <td>Đồng hồ Longines là một thương hiệu có tuổi đời hơn 180 năm, luôn ghi dấu ấn riêng trong lãnh địa thời gian qua dáng vẻ thanh lịch, hiệu suất mạnh mẽ. Với mỗi sản phẩm ra mắt là sự kết hợp giữa kỹ thuật đỉnh cao và phong cách trang nhã truyền thống, khẳng định những giá trị bền vững mà hãng theo đuổi. Để kiểm chứng điều này, hãy cùng khám phá toàn vẹn đồng hồ Longines chính hãng qua những BST mới nhất tại </td>
        </tr>
    </table>
</td>

