
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}

<td valign="top">
    <table border=0 width=600>
        <tr>
            <td colspan=3 bgcolor="black" align="center"><font color="white">ĐỒNG HỒ CŨ NHẤT </font></td>
        </tr>
        <tr align="center">
            @foreach (var row in Model[0].Rows)
            {

                <td>
                    <img src="~/Content/hinhanh/@row["hinhanh"]" width=200 height=170>
                    <font color="green">
                        @row["tensp"]<br />
                        @row["giasp"]
                    </font>
                </td>

            }
        </tr>
        <tr>
            <td colspan=3 bgcolor="black" align="center"><font color="white">ĐỒNG HỒ MỚI NHẤT</font></td>
        </tr>
        <tr align="center">
            @foreach (var row in Model[1].Rows)
            {

                <td>
                    <img src="~/Content/hinhanh/@row["hinhanh"]" width=200 height=170>
                    <font color="green">
                        @row["tensp"]<br />
                        @row["giasp"]
                    </font>
                </td>

            }
        </tr>
    </table>
</td>
<!--ket thuc cot phai-->
