
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}

<td valign="top">
    <table border=0 width=600>
        <tr>
            <td colspan=3 bgcolor="black" align="center"><font color="white">DANH SÁCH ĐỒNG HỒ </font></td>
        </tr>
        @for (int i = 0; i < 3; i++)
        {
            <tr>
                @for (int y = 0; y < 3; y++)
                {

                    <td><img src="~/Content/hinhanh/@Model.Rows[3 * i + y]["hinhanh"]" width=200 height=170></td>

                }
            </tr>
            <tr>
                @for (int y = 0; y < 3; y++)
                {
                    <td align="center" bgcolor="black"><font color="white">@Model.Rows[3 * i + y]["tensp"]</font></td>
                }
            </tr>
        }
            </table>
</td>
<!--ket thuc cot phai-->
