
@{
    ViewBag.Title = "EditNews";
    Layout = "~/Views/Shared/SystemLayout.cshtml";
}

<script src="~/Themes/ckeditor/ckeditor.js"></script>

<form action="/he-thong/sua-tin-tuc" method="post">
    <td valign="top">
        <table border=0 width=600>
            <tr>
                <td colspan=3 bgcolor="black" align="center"><font color="white">Sửa tin tức</font></td>
            </tr>
            <tr>
                <td><textarea rows="10" colspan="3" id="FullDescription" name="text" style="font-family:'Times New Roman'; font-size: inherit">@Model.Rows[0]["text"]</textarea></td>
                <script>
                    CKEDITOR.replace("FullDescription");
                </script>
            </tr>
            <tr>
                <td><input type="submit" value="Xác nhận"></td>
            </tr>
        </table>
    </td>
</form>

