
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/SystemLayout.cshtml";
}

<td valign="top">
    <table border=1 width=600>
        <tr>
            <td colspan="3">Chào mừng @ViewBag.username</td>
        </tr>
        <tr bgcolor=green style="color:#fff" align="center">
            <td>STT</td>
            <td>TÊN SẢN PHẨM</td>
            <td>HÌNH ẢNH</td>
        </tr>
        <tr>
            <td>1</td>
            <td>2</td>
            <td>3</td>
        </tr>
        <tr>
            <td>1</td>
            <td>2</td>
            <td>3</td>
        </tr>
        <tr>
            <td>1</td>
            <td>2</td>
            <td>3</td>
        </tr>
        <tr>
            <td>1</td>
            <td>2</td>
            <td>3</td>
        </tr>
        <tr>
            <td>1</td>
            <td>2</td>
            <td>3</td>
        </tr>
    </table>
</td>
<!--ket thuc cot phai-->
