
@{
    ViewBag.Title = "InsertProduct";
    Layout = "~/Views/Shared/SystemLayout.cshtml";
}

<form action="" method="post" enctype="multipart/form-data">
    <td valign="top">
        <table border=0 width=600>
            <tr bgcolor=green style="color: #fff;" align="center">
                <td colspan="2">Thêm Sản phẩm</td>
            </tr>
            <tr> <td colspan="2">@ViewBag.ThongTin</td> </tr>
            <tr>
                <td width=20%>Tên sản phẩm</td>
                <td><input type="text" name="Tensp" required></td>
            </tr>
            <tr>
                <td width=20%>Giá sản phẩm</td>
                <td><input type="text" name="Giasp" required></td>
            </tr>
            <tr>
                <td width=20%>Hình ảnh</td>
                <td>
                <input type="file" name="Hinhanh" accept="image/*" >
                </td>
            </tr>
            <tr>
                <td width=20%>Mô tả</td>
                <td><input type="text" name="mota"></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Thêm sản phẩm"></td>
            </tr>
        </table>
    </td>
</form>

