
@{
    ViewBag.Title = "ManageInfo";
    Layout = "~/Views/Shared/SystemLayout.cshtml";
}

<td valign="top">
    <table border=0 width=600>
        <tr>
            <td colspan=3 bgcolor="black" align="center"><font color="white">Giới thiệu </font></td>
        </tr>
        <tr>
            <td>@Html.Raw(Model.Rows[0]["text"])</td>
        </tr>
        <tr>
            <td><a href="/he-thong/sua-gioi-thieu">Sửa</a></td>
        </tr>
    </table>
</td>

