
@{
    ViewBag.Title = "ManageNews";
    Layout = "~/Views/Shared/SystemLayout.cshtml";
}
<td valign="top">
    <table border=0 width=600>
        <tr>
            <td colspan=3 bgcolor="black" align="center"><font color="white">Tin tức </font></td>
        </tr>
        <tr>
            <td>@Html.Raw(Model.Rows[0]["text"])</td>
        </tr>
        <tr>
            <td><a href="/he-thong/sua-tin-tuc">Sửa</a></td>
        </tr>
    </table>
</td>
